/* Maim CSS HomePage*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  max-width: 1120px;
  margin: 0 auto;
}

.ContentContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}



/* NavBar Css */ 

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: red;
}

.navBarItens {
  display: flex;
  width: 400px;
 justify-content: space-around;
}

.navBarLogo {
  margin-left: 30px;
}

/* Content1, Content2 */

.Content1Container {
  height: 100vh;
  background-color: yellow;
  padding: 30px;
}
.Content2Container {
  height: 100vh;
  background-color: pink;
  padding: 30px;
} 

/* Page1 */

.page1-contentContainer {

}

/* content1, content2 */

.page1-content1 {
  background-color: yellow;
  height: 300px;
}
.page1-content2 {
    background-color: wheat;
    height: 300px;
}

.page2-contentContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%
}

/* page2Container's */

.page2-container1 {
  background-color: blue;
}

.page2-container2 {
  background-color: yellow;
}

.page2-container3 {
  background-color: yellowgreen;
}

.page2-container4 {
  background-color: green;
}

/* page3 */

.page3-container1 {
  height: 100vh;
  width: 100%;
  background-color: red;
}